.ruler {
  position: absolute;
  width: 100%;
  top: 327px;
  border-top: solid 1px black;
  z-index: 2;
}
body {
  color: #444;
  font-family: sans-serif;
  font-weight: 100;
  background-color: pink;
  box-sizing: border-box;
}
.left {
  position: absolute;
  width: 301px;
  height: 335px;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #5ab8ff;
}
.right {
  position: absolute;
  width: 301px;
  height: 313px;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f65959;
}
.calendar2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.calendar2 h1 {
  font-size: 1.1em;
  font-weight: 400;
}
/* weekend */
.calendar.day:nth-child(1n +6) {
  color: #eb0808;
}
.calendar.cell:nth-child(7n + 2) {
  color: #eb0808;
}
.calendar.cell:nth-child(7n + 1) {
  color: #eb0808;
}
.calendar.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
button {
  padding: 0;
  margin: 5px 5px 0;
  border-radius: 0;
  color: #666;
  background: #ffffff00;
  font-size: 100%;
  border: none;
}
button#month-decrease {}
button#month-increase {}
.calendar.days {
  display: flex;
  justify-content: left;
  width: 100%;
}
.calendar2 .cell,
.calendar2 .day {
  height: 35px;
  width: 43px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.calendar.day {
  background-color: #e4f2ff;
}
.calendar.date:hover {
  background-color: #7ac3fc;
}
.today {
  background-color: #ffdd004a;
  font-weight: 600;
  border-radius: 10%;
  height: 34px;
}
.calendar.today:hover {
  background-color: #ffdd006b;
}
.calendar.today.selected {
  background-color: #c01616;
}
.calendar.selected {
  background-color: #ad1313;
  color: #fdebeb;
}
.calendar.selected:hover {
  background-color: #c71212;
}
.calendar.selected:nth-child(7n + 2) {
  color: #ea9292;
}

.calendar.selected:nth-child(7n + 1) {
  color: #ea9292;
}
.selected-dates-list {
  position: absolute;
  bottom: 0;
  color: white;
  line-height: 32px;
  padding-left: 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
 .left .selected-dates-list {
  background: #1e90ff;
}
 .right .selected-date-list {
  background: #dc4f4f;
}
span.selected-date-item {
  display: block;
}