.ruler {
  position: absolute;
  width: 100%;
  top: 327px;
  border-top: solid 1px black;
  z-index: 2;
}
body {
  color: #444;
  font-family: sans-serif;
  font-weight: 100;
  background-color: pink;
  box-sizing: border-box;
}
button {
      padding: 0;
      margin: 5px 5px 0;
      border-radius: 0;
      color: #666;
      background: #ffffff00;
      font-size: 100%;
      border: none;
}
button#month-decrease {
  float: left;
}
button#month-increase {
  float: right;
}
table {
  background-color: #f9fcff;
  border-spacing: 0;
  margin: 0;
  width: 333px;
  min-height: 247px
}

th {
  background-color: #ddeeff;
  padding: 5px 0;
  font-weight: 600;
}

td {
  font-family: sans-serif;
  text-align: center;
  width: 43px;
  height: 34px;
  padding: 5px 0;
  box-sizing: border-box;
  border: solid 1px white;
}

/* weekend */
tr>td:nth-child(1n +6) {
  color: #eb0808;
}

tr>td:nth-child(1n +6).selected {
  background-color: #c51515;
  color: #ecb6b6;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
}
span {
  display: inline-block;
  min-height: 24px;
}
span.calendar-month {
  padding-top: 9px;
}
span.calendar-month-ord {
  line-height: 1.9;
}

.left {
  position: absolute;
  width: 333px;
  height: 313px;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #5ab8ff;
}

.right {
  position: absolute;
  width: 333px;
  height: 313px;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f65959;
}

.calendar-header-day {
  background-color: #fff;
  padding: 5px;
}

.calendar-day {
  background-color: #e4f2ff;
}

.calendar-day:hover {
  background-color: #d1e8fd;
}

.today {
  background-color: #ffdd004a;
  font-weight: 600;
  border-radius: 10%;
  border-color: #eb900882;
  border-width: 3px;
  border-style: solid;
  height: 34px;
}

.today:hover {
  background-color: #ffdd0085;
}

.today.selected {
  background-color: #c01616;
}

.selected {
  background-color: #ad1313;
  color: #fdebeb;
}

.selected:hover {
  background-color: #c71212;
}
.selected-date {
  position: absolute;
  bottom: 0;
  color: white;
  line-height: 32px;
  padding-left: 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
 .left .selected-date {
  background: #1e90ff;
}
 .right .selected-date {
  background: #dc4f4f;
}