body {
  color: #444;
  font-family: sans-serif;
  font-weight: 100;
  background-color: pink;
}
button {
      padding: 3px 0;
      margin: 0 5px;
      border-radius: 0;
      color: #666;
      background: #fffffe;
      font-size: 100%;
      border: none;
}
button#month-decrease {
  float: left;
}
button#month-increase {
  float: right;
}
table {
  background-color: #f9fcff;
  border-spacing: 0;
  margin: 0;
  width: 333px;
}

th {
  background-color: #ddeeff;
  padding: 5px 0;
  font-weight: 600;
}

td {
  font-family: sans-serif;
  text-align: center;
  width: 43px;
  height: 34px;
  padding: 5px 0;
  box-sizing: border-box;
  border: solid 1px white;
}

/* weekend */
tr>td:nth-child(1n +6) {
  color: #eb0808;
}

tr>td:nth-child(1n +6).selected {
  background-color: #c51515;
  color: #ecb6b6;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
}
span {
  display: inline-block;
}
span.calendar-month {
  line-height: 1.56;
}

.left {
  position: absolute;
  width: 333px;
  height: 272px;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
}

.right {
  position: absolute;
  width: 333px;
  height: 272px;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}

.calendar-header-day {
  background-color: #fff;
  padding: 5px;
}

.calendar-day {
  background-color: #e4f2ff;
}

.calendar-day:hover {
  background-color: #d1e8fd;
}

.today {
  background-color: #ffdd00;
  font-weight: 600;
  border-radius: 10%;
  border-color: #eb0808;
  border-width: 3px;
  border-style: solid;
  height: 34px;
}

.today:hover {
  background-color: #ccb103;
}

.today.selected {
  background-color: #c01616;
}

.selected {
  background-color: #ad1313;
  color: #fdebeb;
}

.selected:hover {
  background-color: #c71212;
}